<div id="sidebar">
  <% if !@random_player.blank? %>
    <div class="sidepanel">

    <h3>Le nostre star</h3>
    <br>
    <% if !@random_player.paperclip? %>
      <%= image_tag "profile_m.gif" %>
    <% else %>
      <%= image_tag @random_player.paperclip.url(:medium) %>
    <% end %>
    <p><%= @random_player.full_name %></p>
    <%= link_to "Vedi tutte le star", {:controller => "/players", :action => "index"}, :class => "more-link" %>
  </div>
  <% end %>

  <% if !@news.blank? %>
  <div class="sidepanel">
    <h3>News</h3>
    <ul>
      <% @news.each do |new|%>
      <li class="cat-item">
        <p>
          <%= truncate new.body, :length => 40%>
          <%= link_to new.link, new.link if !new.link.blank?  %>
          <br>
          <small>Pubblicata: <%= time_ago_in_words new.created_at %> fa</small>
        </p>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div><!-- #sidebar -->
