<% @event = event if event %>
<h1 class="post-title"><%= @event.title %></h1>
<p>
  <%= raw(@event.body) %>
</p>

<p>
  <%= @event.date %>
</p>
<% if !@event.opponent.blank? %>
  <p>
    <b>Dove:</b>
    <%= @event.location %>
  </p>
<% end %>

<% if !@event.opponent.blank? %>
  <p>
    <b>Sfidante:</b>
    <%= @event.opponent %>
  </p>
<% end %>

<% if @event.result_home && @event.result_guest %>
  <p>
    <b>Result home:</b>
    <%= @event.result_home %>
  </p>
  <p>
    <b>Result guest:</b>
    <%= @event.result_guest %>
  </p>
<% end %>
<% if !@event.pictures.empty? %>
  <h2>Foto dell'evento</h2>
  <ul class="gallery">
    <%= render :partial => "pictures/picture", :collection => @event.pictures %>
  </ul>
<% end %>


