<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @news.body %>
</p>

<p>
  <b>Link:</b>
  <%= @news.link %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
