
<p>
  <%= image_tag @player.paperclip.url(:medium) if @player.paperclip? %>
</p>
  <h1><%= @player.full_name %></h1>

<p>
  <b>Perchè sono qui:</b><br>
  <%= @player.who_i_am %>
</p>

<p>
  <b>Professione:</b><br>
  <%= @player.occupation %>
</p>

<p>
  <b>Chi sono:</b><br>
  <%= @player.bio %>
</p>

<p>
  <b>Ruolo:</b><br>
  <%= @player.role %>
</p>
<% if !@player.website.blank? %>
  <p>
    <b>Sito personale:</b><br>
    <%= link_to "Vai al sito personale", @player.website, :target => "_blank" %>
  </p>
<% end %>