<p id="notice"><%= notice %></p>

<p>
  <b>Opponent:</b>
  <%= @challenge.opponent %>
</p>

<p>
  <b>Date:</b>
  <%= @challenge.date %>
</p>

<p>
  <b>Email:</b>
  <%= @challenge.email %>
</p>

<p>
  <b>Body:</b>
  <%= @challenge.body %>
</p>

<p>
  <b>Location:</b>
  <%= @challenge.location %>
</p>

<p>
  <b>Is accepted:</b>
  <%= @challenge.is_accepted %>
</p>


<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
